################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RPiSolution/v15
/RpiWebServer/bin/Debug
/packages/Newtonsoft.Json.10.0.3
/RpiWebServer/obj/Debug
